@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.banner {
  background-image: url(../../assets/pictures/banner/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(121, 114, 114);
  height: 100vh;
  position: relative;

  .header {
    width: 45%;
    padding-left: 40px;
    position: absolute;
    top: 30%;

    @include mix.tablet-styles {
      width: 60%;
    }

    @include mix.mobile-l-styles {
      width: 100%;
    }

    h1 {
      color: var.$text-color-primary;
      text-transform: uppercase;
    }

    p {
      color: var.$text-color-primary;

      span {
        text-transform: uppercase;
      }
    }

    .btn {
      @extend %btn;

      a {
        text-decoration: none;
        color: var.$text-color-primary;
      }
    }
  }
}
