.certificates {
  padding: 30px;
  border: 2px solid rgba(16, 178, 210, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(43, 195, 226, 0.5);
  margin: 30px;
}

.certificates img {
  height: auto;
  object-fit: cover;
  padding-bottom: 20px;
}
