.certificates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.certificate-item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate-item:hover {
  cursor: pointer;
}

.certificate-item img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate-item p {
  margin-top: 10px;
  color: rgb(203, 17, 178);
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
