img {
  display: block;
  width: 100%;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h4,
p {
  color: black;
}

a {
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

h3.dark {
  color: white;
}
